@model IEnumerable<BrowseDotNet.Web.Models.SnippetViewModel>

@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h3>Matched Snippets <span class="badge">@Model.Count()</span> <small>Results for your group: "@ViewBag.GroupTerm"</small></h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section>
                <div>
                    <p>
                        <div class="panel-group" id="accordion">
                            @foreach(var item in Model)
                            {
                                @Html.Partial("_Snippet",item)
                            }
                        </div>
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
}